language: node_js
node_js:
  - 14
cache:
  directories:
    - node_modules
env:
  global:
    - CI=true
    - SKIP_PREFLIGHT_CHECK=true
script:
  - npm run docs:build
deploy:
  provider: pages
  skip_cleanup: true
  github_token: $github_token
  local_dir: docs-dist
  on:
    branch: master
