$sudokuPrefixCls: 'vo-sudoku';

.#{$sudokuPrefixCls}-images-wrapper {
  padding-top: $skeleton-row-margin-top;
  padding-bottom: $skeleton-row-margin-top;
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 0;

  &.#{$sudokuPrefixCls}-image-one {
    .#{$sudokuPrefixCls}-image-outer {
      width: 66.6% !important;
      height: 163px;
      img {
        width: 40%;
      }
    }
  }

  &.#{$sudokuPrefixCls}-images-four {
    width: 66.66%;
    .#{$sudokuPrefixCls}-image-outer {
      width: 49.6%;
      padding-top: 49.6%;
      height: 0;
      margin-bottom: 0.4%;
    }
  }

  .#{$sudokuPrefixCls}-image-outer {
    .#{$sudokuPrefixCls}-image {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    position: relative;
    width: 33%;
    height: 0;
    padding-top: 33%;
    font-size: 16px;
    margin-top: 0.5%;
    img {
      width: 60%;
    }
    &:only-child {
      width: 163px;
      height: 217px;
      border-radius: 5px;
    }
  }
  .#{$sudokuPrefixCls}-image-placeholder {
    width: 33%;
    height: 0;
  }
}

.#{$sudokuPrefixCls}-image {
  min-height: $skeleton-row-height;
  margin-top: $skeleton-row-margin-top;
  background: linear-gradient(
      100deg,
      rgba(255, 255, 255, 0) 40%,
      rgba(255, 255, 255, 0.5) 50%,
      rgba(255, 255, 255, 0) 60%
    )
    $loading-grey;
  background-color: $loading-grey;
  background-position-x: 180%;
  background-size: 200% 100%;
  border-radius: $skeleton-row-border-radius;
  animation: 1s loading ease-in-out infinite;
}

@keyframes loading {
  to {
    background-position-x: -20%;
  }
}
