$textWrapperPrefixCls: 'vo-text-wrapper';
.#{$textWrapperPrefixCls} {
  position: relative;
  display: -webkit-box;
  overflow: hidden;
  color: #222;
  font-weight: 400;
  font-size: 16px;
  font-family: $font-family-base;
  line-height: 26px;
  -webkit-box-orient: vertical;
  .#{$textWrapperPrefixCls}-more {
    span {
      color: #222;
    }

    position: absolute;
    right: 0;
    bottom: -4px;
    z-index: 0;
    height: 25px;
    color: #657ba9;
    font-size: inherit;
    font-size: 16px;
    background: #fff;
    border: none;
    border-radius: 0;
    cursor: pointer;
    &::before {
      position: absolute;
      top: 0;
      right: 0;
      left: -40px;
      z-index: -1;
      display: block;
      height: 100%;
      background: #fff;
      content: '';
      -webkit-mask-size: 100% 100%;
      -webkit-mask-image: linear-gradient(270deg, #fff calc(100% - 40px), transparent 100%);
    }
  }
}
