.vo-toast {
  padding: 3px 11px;
  color: #fff;
  background-color: #303133;
  border-radius: 3px;
}

.toast-animation-enter,
.toast-animation-appear {
  transform: scale(0.4);
  opacity: 0;
}
.toast-animation-enter-active,
.toast-animation-appear-active {
  transform: scale(1);
  opacity: 1;
  transition: opacity 300ms, transform 300ms;
}
.toast-animation-exit {
  transform: scale(1);
  opacity: 1;
}
.toast-animation-exit-active {
  transform: scale(0.4);
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}
.toast-animation-exit-done {
  opacity: 0;
}
