$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$blue: #0d6efd !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #d63384 !default;
$vo-red: #fc4246 !default;
$red: #dc3545 !default;
$orange: #fd7e14 !default;
$yellow: #fadb14 !default;
$green: #52c41a !default;
$teal: #20c997 !default;
$cyan: #17a2b8 !default;

$primary: $blue !default;
$secondary: $gray-600 !default;
$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-100 !default;
$dark: $gray-800 !default;

$theme-colors: (
  'primary': $primary,
  'secondary': $secondary,
  'success': $success,
  'info': $info,
  'warning': $warning,
  'danger': $danger,
  'light': $light,
  'dark': $dark,
);

$hd: 1px; // basic unit
$font-family-sans-serif: -apple-system, blinkmacsystemfont, 'Segoe UI', roboto, 'Helvetica Neue',
  arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
  'Noto Color Emoji' !default;
$font-family-monospace: sfmono-regular, menlo, monaco, consolas, 'Liberation Mono', 'Courier New',
  monospace !default;
$font-family-base: $font-family-sans-serif !default;

// Font
$font-size-xs: 10 * $hd !default;
$font-size-sm: 12 * $hd !default;
$font-size-base: 14 * $hd !default;
$font-size-lg: 16 * $hd !default;
$font-size-root: null !default;

// Font Weight
$font-weight-lighter: lighter !default;
$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-bold: 700 !default;
$font-weight-bolder: bolder !default;
$font-weight-base: $font-weight-normal !default;

// Line Height
$line-height-base: 1.5 !default;
$line-height-xs: 14 * $hd;
$line-height-md: 20 * $hd !default;
$line-height-sm: 18 * $hd !default;
$line-height-lg: 22 * $hd !default;

// Title
$h1-font-size: 35 * $hd !default;
$h2-font-size: 28 * $hd !default;
$h3-font-size: 24.5 * $hd !default;
$h4-font-size: 21 * $hd !default;
$h5-font-size: 17.5 * $hd !default;
$h6-font-size: 14 * $hd !default;

// Link
$link-color: $primary !default;
$link-decoration: none !default;
$link-hover-color: darken($link-color, 15%) !default;
$link-hover-decoration: underline !default;

// body
$body-bg: $white !default;
$body-color: $gray-900 !default;
$body-text-align: null !default;

// Spacing
$spacer: 16 * $hd !default;

// Paragraphs

$paragraph-margin-bottom: 16 * $hd !default;

// Font Others heading list hr ...
$headings-margin-bottom: $spacer / 2 !default;
$headings-font-family: null !default;
$headings-font-style: null !default;
$headings-font-weight: 500 !default;
$headings-line-height: 1.2 !default;
$headings-color: null !default;

$display1-size: 96 * $hd !default;
$display2-size: 88 * $hd !default;
$display3-size: 72 * $hd !default;
$display4-size: 56 * $hd !default;

$display1-weight: 300 !default;
$display2-weight: 300 !default;
$display3-weight: 300 !default;
$display4-weight: 300 !default;
$display-line-height: $headings-line-height !default;

$lead-font-size: 17.5 * $hd !default;
$lead-font-weight: 300 !default;

$small-font-size: 0.875em !default;

$sub-sup-font-size: 0.75em !default;

$text-muted: $gray-600 !default;

$initialism-font-size: $small-font-size !default;

$blockquote-small-color: $gray-600 !default;
$blockquote-small-font-size: $small-font-size !default;
$blockquote-font-size: 17.5 * $hd !default;

$hr-color: inherit !default;
$hr-height: $hd !default;
$hr-opacity: 0.25 !default;

$legend-margin-bottom: 8 * $hd !default;
$legend-font-size: 24 * $hd !default;
$legend-font-weight: null !default;

$mark-padding: 0.2em !default;

$dt-font-weight: $font-weight-bold !default;

$nested-kbd-font-weight: $font-weight-bold !default;

$list-inline-padding: 8 * $hd !default;

$mark-bg: #fcf8e3 !default;

$hr-margin-y: $spacer !default;

// Code

$code-font-size: $small-font-size !default;
$code-color: $pink !default;
$pre-color: null !default;

// options configurable options
$enable-pointer-cursor-for-buttons: true !default;

// border and border radius

$border-width: $hd !default;
$border-color: $gray-300 !default;

$border-radius: 4 * $hd !default;
$border-radius-lg: 5 * $hd !default;
$border-radius-sm: 2 * $hd !default;

// box shadow
$box-shadow-sm: 0 2px 4px rgba($black, 0.075) !default;
$box-shadow: 0 8px 16px rgba($black, 0.15) !default;
$box-shadow-lg: 0 16px 48px rgba($black, 0.175) !default;
$box-shadow-inset: inset 0 $hd 2px rgba($black, 0.075) !default;

// button
$btn-font-weight: 400;
$btn-padding-y: 6 * $hd !default;
$btn-padding-x: 16 * $hd !default;
$btn-font-family: $font-family-base !default;
$btn-font-size: $font-size-base !default;
$btn-line-height: $line-height-base !default;

//button padding and font size
$btn-padding-y-sm: 5 * $hd !default;
$btn-padding-x-sm: 15 * $hd !default;
$btn-font-size-sm: $font-size-sm !default;

$btn-padding-y-lg: 8 * $hd !default;
$btn-padding-x-lg: 24 * $hd !default;
$btn-font-size-lg: $font-size-lg !default;

// button border
$btn-border-width: $border-width !default;

// button others
$btn-box-shadow: inset 0 $hd 0 rgba($white, 0.15), 0 $hd $hd rgba($black, 0.075) !default;
$btn-disabled-opacity: 0.65 !default;

// button link
$btn-link-color: $link-color !default;
$btn-link-hover-color: $link-hover-color !default;
$btn-link-disabled-color: $gray-600 !default;

// button radius
$btn-border-radius: $border-radius !default;
$btn-border-radius-lg: $border-radius-lg !default;
$btn-border-radius-sm: $border-radius-sm !default;

$btn-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
  border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !default;

// menu
$menu-border-width: $border-width !default;
$menu-border-color: $border-color !default;
$menu-box-shadow: inset 0 $hd 0 rgba($white, 0.15), 0 $hd $hd rgba($black, 0.075) !default;
$menu-transition: color 0.15s ease-in-out, border-color 0.15s ease-in-out !default;

// menu-item
$menu-item-padding-y: 8 * $hd !default;
$menu-item-padding-x: 16 * $hd !default;
$menu-item-active-color: $primary !default;
$menu-item-active-border-width: 2 * $hd !default;
$menu-item-disabled-color: $gray-600 !default;

//sub-menu
$submenu-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12), 0 0 6px 0 rgba(0, 0, 0, 0.04);

//input
$input-padding-y: $btn-padding-y !default;
$input-padding-x: $btn-padding-x !default;
$input-font-family: $btn-font-family !default;
$input-font-size: $btn-font-size !default;
$input-font-weight: $font-weight-base !default;
$input-line-height: $btn-line-height !default;

$input-padding-y-sm: $btn-padding-y-sm !default;
$input-padding-x-sm: $btn-padding-x-sm !default;
$input-font-size-sm: $btn-font-size-sm !default;

$input-padding-y-lg: $btn-padding-y-lg !default;
$input-padding-x-lg: $btn-padding-x-lg !default;
$input-font-size-lg: $btn-font-size-lg !default;

$input-bg: $white !default;
$input-disabled-bg: $gray-200 !default;
$input-disabled-border-color: null !default;

$input-color: $gray-700 !default;
$input-border-color: $gray-400 !default;
$input-border-width: $border-width !default;
$input-box-shadow: $box-shadow-inset !default;

$input-border-radius: $border-radius !default;
$input-border-radius-lg: $border-radius-lg !default;
$input-border-radius-sm: $border-radius-sm !default;

$input-focus-bg: $input-bg !default;
$input-focus-border-color: lighten($primary, 25%) !default;
$input-focus-width: 3.2 * $hd !default;
$input-focus-color: $input-color !default;
$input-focus-shadow-color: rgba($primary, 0.25) !default;
$input-focus-box-shadow: 0 0 0 $input-focus-width $input-focus-shadow-color !default;

$input-placeholder-color: $gray-600 !default;
$input-plaintext-color: $body-color !default;

$input-height-border: $input-border-width * 2 !default;

$input-transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out !default;

$input-group-addon-color: $input-color !default;
$input-group-addon-bg: $gray-200 !default;
$input-group-addon-border-color: $input-border-color !default;

// Progress bars

$progress-font-size: $font-size-base * 0.75 !default;
$progress-bg: $gray-200 !default;
$progress-border-radius: $border-radius !default;
$progress-bar-color: $white !default;
$progress-bar-transition: width 0.6s ease !default;

// Radio
$radio-wrap-height: 20 * $hd !default;
$radio-circle-width: 12 * $hd !default;
$radio-circle-height: 12 * $hd !default;
$radio-circle-border: 1 * $hd solid #c5c9cd !default;
$radio-circle-border-radius: 50% !default;
$radio-circle-bg: $white !default;
$radio-active-bg: $vo-red !default;
$radio-label-font-size: 14 * $hd !default;

// Skeleton
// $skeleton-wrap-padding: 16 * $hd !default;
$loading-grey: #ededed;
$skeleton-row-height: 16 * $hd !default;
$skeleton-title-height: 20 * $hd !default;
$skeleton-row-margin-top: 12 * $hd !default;
$skeleton-title-margin-bottom: 20 * $hd !default;
$skeleton-row-border-radius: 4 * $hd !default;

// Sudoku
$sudoku-image-space: 3px;
$sudoku-image-width-percentage: calc((100% - 6px) / 3);
$sudoku-image-width-percentage-4: calc((100% - 3px) / 2);
$sudoku-border-radius: 4px;
// VideoWrapper
$vidoe-wrapper-margin-bottom: 10px;
